@use "../util" as u;

.testimonial {

    &__wrapper {

    }

    &__icon {
        width: 16%;
        max-width: u.rem(78);
        //max-width: u.rem(40);
        margin-block-end: clamp(u.rem(20), 0.68rem + 2.42wv, u.rem(40));
    }
 

    &__quote {
        font-size: u.rem(24);
        font-size: clamp(u.rem(24), 1.16rem + 1.45vw, u.rem(24));
        font-weight: 700;
        line-height: 1.25;
        margin-block-end: u.rem(40);

    }

    &__author-wrapper {

    }

    &__author {
        width: u.rem(40);
        border-radius: 50%;
    }

    &__author-caption {
        margin-inline-end: 0;
        display: inline-flex;
        gap: 20px, 30px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

   
    }
    

    &__author-description {
        margin-block-end: o;
        
    }
}